### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Building output ###
/dependency-reduced-pom.xml

### Linux ###
*~

### TortoiseGit ###
# Project-level settings
/.tgitconfig
# logs
*.log

target/

pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar

test-output/
/node_modules/